atomicwrites==1.3.0
attrs==19.1.0
backports.ssl-match-hostname==3.5.0.1
blinker==1.4
boto==2.44.0
boto3==1.4.2
botocore==1.8.48
cached-property==1.3.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
configobj==5.0.6
configparser==3.8.1
contextlib2==0.5.5
coverage==4.5.4
Django==1.11.23
docker==2.5.1
docker-compose==1.17.1
docker-pycreds==0.2.1
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
enum34==1.1.6
Flask==1.1.1
Flask-DebugToolbar==0.10.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Session==0.3.1
Flask-WTF==0.14.2
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.2.0
fysom==2.1.5
gunicorn==19.9.0
gyp==0.1
idna==2.8
importlib-metadata==0.19
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.3
jsonschema==2.6.0
MarkupSafe==1.1.1
mock==2.0.0
more-itertools==5.0.0
packaging==19.1
passlib==1.7.1
pathlib2==2.3.4
pbr==3.1.1
pluggy==0.12.0
psycopg2-binary==2.8.3
py==1.8.0
pycairo==1.16.2
pycrypto==2.6.1
pygobject==3.26.1
pyparsing==2.4.2
pyparted==3.11.1
pyRFC3339==1.0
Pyro4==4.63
pytest==4.6.5
pytest-cov==2.7.1
python-apt==1.6.4
python-dateutil==2.6.1
python-xlib==0.20
pytz==2019.2
pyxdg==0.25
PyYAML==3.12
requests==2.22.0
roman==2.0.0
s3transfer==0.1.13
scandir==1.10.0
selectors34==1.2
serpent==1.23
setproctitle==1.1.10
six==1.12.0
SQLAlchemy==1.3.8
termcolor==1.1.0
texttable==0.9.1
urllib3==1.25.3
virtualenv==16.7.2
wcwidth==0.1.7
websocket-client==0.44.0
Werkzeug==0.15.6
WTForms==2.2.1
zipp==0.5.2
